.btn--push-down
{
    margin-top: 5px;
}

.btn-block
{
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.btn-warning
{
    color: #fff;
    background-color: #ff8a00;
    border-color: #e67c00;
}

.btn
{
    display: inline-block;
    min-width: 44px;
    padding: 12px 15px 9px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -border: 1px solid transparent;
    border-width: 0 0 3px;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
