.chkbox
{
    display: inline-block;
    text-align: left;
}

.txt-tnc
{
    font-family: Arial, Verdana;
    font-size: 14px;
    font-weight: normal;
}

.flr-ind
{
    position: relative;
    left: -48px;
    top: 10px;
}

.indicator
{
    /*background-image: url('Images/Reg/Indicator.jpg');*/
    border: 0px solid yellow;
    font-family: "Erbos Draco 1st NBP";
    font-size: 125px;
    color: black;
    height: 90px;
    background-position: center;
    text-align: center;
}

.common-button
{
    padding: 5px;
    margin: 0px 20px 0 30px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    width: 100px;
    color: #fff;
    text-align: center;
    /*border-left: 2px solid #0177A4;*/
    font-weight: bold;
    line-height: 30px;
    background-color: #0D93D6;
    /*height: 100px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.divRight
{
    display: inline-block;
    float: right;
}

.div-inner
{
    display: block;
    /*width: inherit;
    height: inherit;*/
    padding-top: 0px;
}

.divLeft
{
    /*position: relative;
    top: -3px;*/
    display: inline-block;
    float: left;
}

.imgTop
{
    /*width: inherit;
    position: relative;
    top: 0px;*/
}

.divMain
{
    position: relative;
    left: -8px;
    top: 10px;
    background-color: White;
    margin-bottom: 0px;
}

.txtbox
{
    font-family: "arial","sans-serif";
    font-size: 15px;
    position: relative;
    /*top: 7px;*/
    left: 21px;
    padding: 0px 0 0 5px;
    width: 330px;
    height: 23px;
    display: inline-block;
    /*border: 1px solid black;*/
    border: 1px solid #0D93D6;
    /*border-left: 1px solid #0D93D6;
    border-bottom: 1px solid #0D93D6;
    border-right: 1px solid #0D93D6;
    vertical-align: top;*/
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

.label-font
{
    margin-top: 7px;
    position: relative;
    top: -2px;
    left: 3px;
    display: inline-block;
    height: 25px;
    /*width:50px;*/
    background-image: url(../images/Reg/Com-Sprite1.png);
    background-color: #0D93D6;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
